.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1d;
  }
  
  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff !important;
    border-radius: 8px;
    height: 60%;
    width: 35%;
  }
  .right-container {
    display: flex;
    margin: 2rem;
    color: white;
    font-weight: 700;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background: #36363636 !important;
    min-height: 30%;
    width: 35%;
  }

  @media (max-width: 1050px) {
    .outerContainer {
      display: flex;
      flex-direction: column;
    }
    .left-container {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #df6060;
      border-radius: 8px;
      width: 90%;
    }
    .right-container {
       width: 80%;
    }
  
  }
  